{{> header}}
<div id="container">
  <section id="admin-side-panel">
    <div id="admin-side-panel__header">
      <h3>Hello Denise!</h3>
    </div>
    <div id="admin-side-section-buttons">
      <nav>
        <ul>
          <li><p>View Poems</p></li>
          <li><p>Add new Poem</p></li>
          <li><p>View Messages</p></li>
        </ul>
      </nav>
    </div>
  </section>
  <section id="admin-main-section">

  </section>
</div>
{{> footer}}
