
#admin-side-panel{
  height: 100vh;
  background-color: #ccc;
}
#admin-main-section-add-poem{
  display: none;
}
#admin-poems-table{
  border-collapse: collapse;
}
#admin-poems-table tr th{
  white-space: nowrap;
  overflow: hidden;
  max-width: 160px;
  height: 30px;
  padding: 5px;
}
#admin-main-section-messages{
  display: none;
}
#poem-submit-button{
  margin-top: 30px;
}
#admin-side-section-buttons nav ul li{
  width: 100%;
  height: 60px;
  cursor: pointer;
  margin-bottom: 10px;
  background-color: #ee6e73;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
}
#admin-side-section-buttons nav{
  background-color: #ccc;
  box-shadow: 0 0 0 #ccc;
}
#admin-side-section-buttons nav ul li:first-of-type{
  background-color: #aa4c50;
}
